<div >
    <MatAppBarContainer>
        <MatAppBar Fixed="true">
            <MatAppBarRow>
                <MatAppBarSection>
                    <MatIconButton Icon="menu" @onclick="ToggleNavMenu"></MatIconButton>
                    <MatAppBarTitle>ClipSync</MatAppBarTitle>
                </MatAppBarSection>
                <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                    <MatIconButton Icon="favorite"></MatIconButton>
                </MatAppBarSection>
            </MatAppBarRow>
        </MatAppBar>

        <MatAppBarContent>
            <MatDrawerContainer Style="width: 100vw; height: 100vh;">
                <MatDrawer @bind-Opened="@Opened" Mode="@MatDrawerMode.Modal">
                    Drawer Content
                </MatDrawer>
                <MatDrawerContent>
                </MatDrawerContent>
            </MatDrawerContainer>
        </MatAppBarContent>
    </MatAppBarContainer>
</div>

@code {
    private bool Opened = false;

    private void ToggleNavMenu()
    {
        Opened = !Opened;
    }
}
